package static

templ Index() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<script src="https://unpkg.com/htmx.org@1.9.11"></script>
			<script src="https://cdn.tailwindcss.com"></script>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>Clearance V2</title>
		</head>
		<h1 class="text-3xl font-bold underline justify-center font-sans">
			Carissimi scansafatiche
		</h1>
		<body></body>
	</html>
}
